*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

html, body{
  width:100%;
  overflow-x:hidden;
  background:#fff;
  scroll-behavior:smooth;
}

body{
  margin: 0;
  padding:0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero{
  position:relative;
  min-height:55vh;
  width:100%;

  background:url("asset/backgroundnavbar2.jpg") center/cover no-repeat;
  color:white;

  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;

  overflow:hidden;
}

.hero::before{
  content:"";
  position:absolute;
  left:-20%;
  bottom:-260px;
  width:140%;
  height:420px;

  background:#fff;
  transform:skewY(-4deg);
  z-index:1;
}

.hero::after{
  content:"";
  position:absolute;
  left:-20%;
  bottom:-220px;
  width:140%;
  height:360px;

  background:linear-gradient(
    -60deg,
    rgba(255,255,255,.1),
    rgba(255,255,255,.25),
    rgba(255,255,255,.1)
  );
  transform:skewY(-4deg);
  z-index:2;
}

/* NAV */

.nav{
  position: fixed;      /* PENTING */
  top: 0;               /* Nempel di atas */
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 65px;
  padding: 10px 15px;

  background: rgba(0,0,0,0.4); /* biar kebaca */
  backdrop-filter: blur(0.5px); /* efek glass */
  
  border-bottom: 2px solid rgba(255,255,255,.6);
  z-index: 1000;
}


.logo{
  width:55px;
}

/* HAMBURGER */
.hamburger{
  cursor:pointer;
  z-index:20;
}

.hamburger span{
  display:block;
  width:26px;
  height:3px;
  background:white;
  margin:5px 0;
  border-radius:2px;
}

.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2){
  opacity: 0;
}

.hamburger.active span:nth-child(3){
  transform: rotate(-45deg) translate(6px, -6px);
}

/* MENU */

.menu{
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;

  background: #222;
  text-align: center;

  transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;

  transition: transform 0.4s ease, opacity 0.3s ease;
  z-index: 1500;
}

.menu a{
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

/* SAAT AKTIF */
.menu.active{
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}


/* HERO TEXT */
.hero-text{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  z-index:5;
}

/* ABOUT */
.about{
  padding:60px 20px;
  background:#fff;
}

.about-box{
  max-width:800px;
  margin:auto;
  text-align:center;
}

.about-box h2{
  color:#6fcf97;
  margin-bottom:20px;
}

.about-img{
  width:50%;
  border-radius:12px;
  margin:20px auto;
}

.about-text{
  font-size:18px;
  line-height:1.8;
  color:#555;
}

.quote{
  margin:30px 0;
  font-style:italic;
  color:#6a1b9a;
}

.profil{
  max-width:300px;
  border-radius:12px;
}

/* STUDENT */
.student{
  position: relative;
  padding: 120px 20px 80px;
  overflow: hidden;
  padding:60px 20px;
  padding-bottom: 80px;
  margin-bottom: 0;
  background:
    radial-gradient(
      circle at top,
      rgba(0,180,255,.18),
      transparent 40%
    ),
    linear-gradient(180deg, #050505, #0b0b0b, #050505);
}

.photo-box {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
  background: #111;
}

.photo-box img.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  object-position: center;
  display: block;
  border-radius: 18px 18px 0 0; /* ATAS IKUT BORDER */
}
.student::before {
  content: "";
  position: absolute;
  top: -120px;
  left: 0;
  width: 100%;
  height: 200px;
  background: #ffffff; /* WARNA SECTION ATAS */
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: 1;
}

.student-title{
  margin-top:35px;
  text-align:center;
  color:#4fefff;
  margin-bottom:30px;
}

.student-grid{
  max-width:1000px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:25px;
}

.student-card{
  background:#4fefff;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 8px 20px rgba(0,0,0,.6);
  transition:.3s;
  opacity: 0;
  transform: translateY(-40px);
}

.student-card.show {
  animation: slideDown 0.8s ease forwards;
}

@keyframes slide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.student-card:hover{
  transform:translateY(-6px);
}

.student-card img{
  width:100%;
  height:230px;
  object-fit:cover;
}

.student-info{
  padding:10px;
  text-align:center;
}

.student-info h4{
  font-size:14px;
}

.student-info p{
  font-size:12px;
  color:#555;
}

.student,
.gallery {
  background: transparent;
}

/* SECTION GALLERY */
.gallery-section {
  padding: 50px 20px;
  position: relative;
  overflow-x: hidden;
  background:
    radial-gradient(circle at 20% 20%, rgba(56,189,248,0.15), transparent 40%),
    radial-gradient(circle at 80% 30%, rgba(139,92,246,0.15), transparent 45%),
    radial-gradient(circle at 50% 80%, rgba(14,165,233,0.12), transparent 50%),
    linear-gradient(180deg, #020617, #020617);
}

.gallery-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at 20% 30%, rgba(255,255,255,0.08), transparent 40%),
    radial-gradient(circle at 80% 40%, rgba(255,255,255,0.06), transparent 45%),
    radial-gradient(circle at 50% 80%, rgba(255,255,255,0.05), transparent 50%);
  pointer-events: none;
  z-index: 1;
}

.gallery-section > * {
  position: relative;
  z-index: 2;
}

.gallery-section::before {
  animation: fogMove 20s linear infinite;
}

@keyframes fogMove {
  0% { transform: translateX(0); }
  50% { transform: translateX(-40px); }
  100% { transform: translateX(0); }
}
/* JUDUL */

.gallery-title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
  color: #f8ffac;
  transition: all 0.9s ease;
}

/* WRAPPER UTAMA */
.gallery-wrapper {
  max-width: 1100px;
  margin: 0 auto 60px auto;
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.gallery-wrapper,
.gallery-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 70px;
  align-items: center;
}
/* FOTO GRID */
.photo-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  object-fit:cover;
}

.photo-grid img {
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.35);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

.photo-grid img:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 22px 45px rgba(0,0,0,0.45);
}
.gallery-row {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 80px;
}

.gallery-row.reverse {
  flex-direction: row-reverse;
}
/* TEKS */
.text-content {
  background: rgba(255,255,255,0.96);
  padding: 26px;
  flex:2px;
  border-radius: 18px;
  box-shadow:
    0 30px 60px rgba(0,0,0,0.28),
    inset 0 1px 0 rgba(255,255,255,0.6);
  width: 100%;
}

.text-content h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000;
}

.text-content p {
  font-size: 25px;
  line-height: 1.7;
  color: #444;
}

/* RESPONSIVE HP */
@media (max-width: 900px) {
  .gallery-wrapper,
  .gallery-wrapper.reverse {
    flex-direction: column;
  }

  .photo-grid img {
    height: 140px;
  }

  .text-content {
    text-align: center;
  }
}


/* FOOTER */


/* ANIMASI */
.show{
  animation:slideDown 2.5s ease;
}

@keyframes slideDown{
  from{opacity:0; transform:translateY(-30px);}
  to{opacity:1; transform:translateY(0);}
}

@media(min-width:768px){
  body {
    background: linear-gradient(180deg, #020617, #0f2a44);
  }
  .student-grid{
    grid-template-columns:repeat(4,1fr);
  }
}

@keyframes lightningFlash {
  0%, 92%, 100% {
    opacity: 0;
  }
  93% {
    opacity: 1;
    box-shadow: 
      0 0 40px #38bdf8,
      0 0 120px #38bdf8;
  }
  95% {
    opacity: 0;
  }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .gallery-wrapper,
  .gallery-wrapper.reverse {
    flex-direction: column;
  }
}
